@model CoreBot.Models.SettingsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @@media only screen and (min-width:1025px) {
            .customContainer {
                width: 500px;
                margin-left: auto;
                margin-right: auto;


            }
        }

        @@media only screen and (max-width:1028px) {
            .customContainer {
                width: 100%;

                padding-right: 15px;
                padding-left: 15px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .background {
            background-color: #E9EBEE;
        }

        .customNavBar {
            background-color: #4267B2;
            color:#FFFFFF;
        }

        .customNavItem:active {
            color: #FFFFFF;
        }
    </style>

</head>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

<body class="background">
    <!-- A horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm customNavBar">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" style="color:#FFFFFF" href="@Url.Action("Index", "Settings")">Settings</a>
            </li>
        </ul>
    </nav>
    @using (Html.BeginForm("BroadCastAsync", "settings", FormMethod.Post))
    {
        <div class="customContainer">

            <form class="border border-light">
                <br />
                <br />
                <p class="h4 mb-4 p-10 pt-50">Neuen Livestream planen:</p>

                <!-- Message -->
                <div class="form-group">
                    @Html.TextAreaFor(m => m.Message, 3, 30, new { placeholder = "Message", @class = "form-control rounded-0" })
                    @Html.ValidationMessageFor(m => m.Message)
                </div>

                <!-- Name -->
                <div class="form-group">
                    @Html.TextBoxFor(m => m.ButtonText, null, new { placeholder = "Call To Action", @class = "form-control mb-4" })
                    @Html.ValidationMessageFor(m => m.ButtonText)
                </div>

                <input type="text" class="form-control mb-4" id="url" placeholder="Ziel-Url">

                <!-- Subject -->
                <input type="text" class="form-control mb-4" id="date" placeholder="Datum">

                <!-- Copy -->
                <input type="text" class="form-control mb-4" id="time" placeholder="Uhrzeit">

                <!-- Send button -->
                <button class="btn btn-info btn-block" value="Index" type="submit">Send</button>
            </form>
            <!-- Default form contact -->
        </div>
    }
    <script src="~/vendor.min.js"></script>
</body>

<link rel="stylesheet" href="@Url.Content("~/twitter-bootstrap/css/bootstrap.css")"/>

<script>
    $(document).ready(function () {
        $("#date").focus(function () {
            $(this).attr({ type: 'date' });
        });

        $("#time").focus(function () {
            $(this).attr({ type: 'time' });
        });
    });
</script>